abc/abc_2
abc/abc
abc/abc1
abc_old/abc
abc_old/abc1
abc_stable/abc/abc
abc_stable/abc/abc2
abc1/abc1
abc/abc2
choose_net_build/
dp/
output_csv/
output_csv1/
output_results/
processed_data/
rand_extract/target/
rand_extract/random_out_dag_json
rand_extract/extration_gym/target/
e-rewriter/target/
extract_or_replace/target/
extraction-gym/target/

# flussab/target/
flussab/aig_2_egraph/conversion_data/
flussab/aig_2_egraph/mffc/
flussab/aig_2_egraph/output/
graph2eqn/
flussab/.target/
process_json/target/
rand_extract/
extraction-gym/libabc.a
